section#projects {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
  margin-bottom: 9rem;
}

section#projects > header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

section#projects > header p {
  order: -1;
}

ul.grid {
  display: flex;
  gap: 1.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0.75rem;
  background-color: var(--gray-400);
  border-radius: 12px;
  width: 330px;
  height: 280px;
  cursor: pointer;
}

.project-card:hover {
  outline: 2px solid var(--gray-200);
  transition-duration: 0.3s;
}

figure.project-photo {
  width: 306px;
  height: 156px;
  border-left: 16px solid;
  border-top: 16px solid;
  border-right: 16px solid;
  border-radius: 8px;
}

figure.project-photo#imc-tracker {
  border-color: var(--green);
  background-color: var(--green);
}

figure.project-photo#penguins {
  border-color: var(--blue);
  background-color: var(--blue);
}

figure.project-photo#etch-a-sketch {
  border-color: var(--purple);
  background-color: var(--purple);
}

figure.project-photo > img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}

.project-text {
  display: flex;
  gap: 8px;
  padding: 4px;
  flex-direction: column;
}

@media (max-width: 1050px) {
  ul#projects-grid {
    flex-direction: column;
  }
}