.services-bg {
  background-color: var(--gray-600);
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 5.5rem;
}

section.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

section.services header {
  text-align: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border: 2px solid var(--gray-500);
  border-radius: 12px;
}