.services-bg {
  background-color: var(--gray-600);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5.5rem;
  margin-bottom: 9rem;
}

section#services {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

section#services header {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: center;
}

.service-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 280px;
  height: 155px;
  padding: 20px;
  border: 2px solid var(--gray-500);
  border-radius: 12px;
}

@media (max-width: 900px) {
  #services-grid {
    flex-direction: column;
  }
}