@import "./utils.css";

.avatar {
    width: 120px;
    height: 120px;
    position: relative
}

figure {
    border: 2px solid var(--red);
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

figure > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#code-vector {
    position: absolute;
    display: block;
    top: 80%;
    left: 120%;
    width: 31px;
    height: 25px;
    transform: translateX(-50%);
}
