@import "./utils.css";
@import "./header.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* HEADER */
header.intro {
  position: relative;
  display: flex;
  justify-content: center;
  background-image: url("../assets/backgrounds/background-intro.png");
  background-size: cover;
  background-position: center;
  width: 100vw;
  margin-top: 7.5rem;
}

.avatar {
  width: 7.5rem;
  height: 7.5rem;
  position: relative;
  margin-bottom: 80px;
}

figure.profile-photo {
  border: 2px solid var(--red);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

figure.profile-photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#code-vector {
  position: absolute;
  display: block;
  top: 80%;
  left: 84%;
  width: 31px;
  height: 25px;
  transform: translateX(-50%);
}

section.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  gap: 5rem;
}

header.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.info-text-title {
  margin-bottom: 1.25rem;
}

.info-text #hero {
  max-width: 75ch;
}

ul.skills {
  display: flex;
  gap: 1rem;
}

li.skill-tag {
  display: flex;
  align-items: center;
  background-color: var(--gray-400);
  padding: 8px 16px;
  border-radius: 36px;
  gap: 8px;
}

.carret {
  position: absolute;
  top: 110%;
}

/* PROJETOS */
main {
  width: 100vw;
  display: flex;
  justify-content: center;
  margin-top: 9rem;
}

section.projects {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.5rem;
}

section.projects > header {
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.projects > header p {
  order: -1;
}

ul.grid {
  display: flex;
  gap: 1.5rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 0.75rem;
  background-color: var(--gray-400);
  border-radius: 12px;
  width: 330px;
  height: 280px;
}

figure.project-photo {
  width: 306px;
  height: 156px;
  border-left: 16px solid;
  border-top: 16px solid;
  border-right: 16px solid;
  border-radius: 8px;
}

figure.project-photo#imc-tracker {
  border-color: var(--green);
  background-color: var(--green);
}

figure.project-photo#penguins {
  border-color: var(--blue);
  background-color: var(--blue);
}

figure.project-photo#etch-a-sketch {
  border-color: var(--purple);
  background-color: var(--purple);
}

figure.project-photo > img {
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0px 0px;
  object-fit: cover;
}
