@import "./utils.css";
@import "./intro.css";
@import "./projects.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
}

/* SERVICES */
.services-bg {
  background-color: var(--gray-600);
  width: 100%;
  display: flex;
  justify-content: center;
}