
/* Cores */
:root {
    --red: #e3646e;
    --purple: #bb72e9;
    --blue: #3996db;
    --green: #82bc4f;
    --yellow: #eabd5f;
    --gray-100: #e2e4e9;
    --gray-200: #c0c4ce;
    --gray-300: #878ea1;
    --gray-400: #292c34;
    --gray-500: #16181d;
    --gray-600: #0d0e11;
}

.red {
    color: var(--red)
}

.purple {
    color: var(--purple)
}

.blue {
    color: var(--blue)
}

.green {
    color: var(--green)
}

.yellow {
    color: var(--yellow);
}

.gray-100 {
    color: var(--gray-100)
}

.gray-200 {
    color: var(--gray-200)
}

.gray-300 {
    color: var(--gray-300)
}

.gray-400 {
    color: var(--gray-400)
}

.gray-500 {
    color: var(--gray-500)
}

.gray-600 {
    color: var(--gray-600)
}

/* Tipografia */

.title-lg {
    font: 700 3.5rem/1.2 "Asap", sans-serif;
}

.title-md {
    font: 700 1.5rem/1.2 "Asap", sans-serif;
}

.title-sm {
   font: 700 1rem/1.2 "Asap", sans-serif; 
}

.subtitle {
    font: 400 1.25rem/1.2 "Inconsolata", monospace;
}

.text-md {
    font: 400 1rem/1.4 "Maven Pro", sans-serif;
}

.text-sm {
    font: 400 0.9rem/1.4 "Maven Pro", sans-serif;
}